<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @map.post_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @map.tag_id %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
