<p id="notice"><%= notice %></p>

<p>
  <% if @post %>
  	<strong>Title:</strong>
  	<%= @post.title %>
    <strong>Body:</strong>
    <%= @post.body %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  <% else %>
    There is no post with such id.
    <%= link_to 'Back', posts_path %>
  <% end %>
</p>
